<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Car Cleaners</a>
          </div>
          <ul class="nav navbar-nav">
            
            
          </ul>
          <ul class="nav navbar-nav navbar-right"> 
              <li   *ngIf="!(isLoggedIn$ | async)"><a  routerLink="/login"  (click)="logout()" [routerLinkActive] ="'active fluffy'" ><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
          
            <li *ngIf="isLoggedIn$ | async"><a routerLink="/signup"  [routerLinkActive]="'active fluffy'" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li  *ngIf="isLoggedIn$ | async"><a  routerLink="/login"  [routerLinkActive] ="'active fluffy'" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           
          </ul>
        </div>
      </nav>
   <!--   <li  *ngIf="isLoggedIn$ | async "><a routerLink="/signup"  [routerLinkActive]="'active fluffy'" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li  *ngIf="isLoggedIn$ | async "><a  routerLink="/login"  [routerLinkActive] ="'active fluffy'" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   -->