<h1>Todays Assigned Vehicles!</h1>
<div  class="container" style="background-color:lightgray;">
    <table  class="table">
    <tr><th>orderid</th><th>car_id</th><th>extra_cost</th><th>Remarks</th><th></th><tr>
    <tr *ngFor="let dat of data;let i=index" >
     
     <td >
       {{dat.order_id}}
     </td>   
     <td>
        {{dat.car_id}}
     </td>
     <td>
         <input class="form-control"  type="number" [(ngModel)]="dat.eng_extra_cost" name="extra_cost{{i}}" >
     </td>
     <td>
         <textarea  class="form-control" cols="20" rows="1" [(ngModel)]="dat.remarks" name="remarks{{i}}"></textarea>
     </td>
     <td>
          <button   name="save" value="Done"   name="button{{i}}"  (click)="orderUpdate(dat)" >Done</button>
    </td>
  
    </tr>    
              
    </table>
</div>